body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/155/653/275/background-sky-point-light-wallpaper-preview.jpg");
    background-repeat: repeat;
    background-blend-mode: color-burn;

}

h1 {
    display: inline;
    color: aliceblue;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 100px auto 100px auto;
}

flex-container{
    display: flex;
}

.heading-container{
    background-color: rgba(0, 0, 0, 0.5);
    padding:50px;
    border-radius: 10px;
}

div.slide-left{
    width:100%;
    overflow:hidden;
}

@keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

div.slide-left h1{
    animation:slide-left 10s;
}

.container {
    background:rgba(255, 255, 255, 0.8);
    margin:auto;
    padding: 20px;
    width:90%;
    border-radius: 30px;

}

.about-text{
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
}

h2{
    display: inline;
    color: black;
    text-align: left;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
}

.pics_in_a_row{
    display: flex;
    margin: auto;
    max-width: 100%;
    object-position: center;
    position: relative;
}

.constellation-names{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-family:'Times New Roman', Times, serif
}

img:hover {
    box-shadow: 0 0 6px 4px rgb(0, 140,186,0.5);
}

img {
    width: auto;
    height: auto;
    padding-bottom: 30px;
    max-width: 95%;
}

.Capricornus {flex: 1.0}
.Aquarius {flex: 1.0}
.Pisces {flex: 1.0}
.Aries {flex: 1.0}
.Taurus {flex: 1.0}
.Gemini {flex: 1.0}
.Cancer {flex: 1.0}
.Leo {flex: 1.775}
.Virgo {flex: 1.775}
.Libra {flex: 1.0}
.Scorpius {flex: 1.0}
.Ophiuchus {flex: 0.5}
.Sagittarius {flex: 0.5}

.topnav {
    margin: 0px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
}

.topnav a {
    display: inline-flexbox;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 30px 0px 30px;
    font-size: 28px;
}

.topnav a:hover {
    background-color: rgb(136, 120, 168);
    color: black;
}
  
.topnav a.active {
    background-color: rgba(35, 144, 217, 0.5);
    color: white;
}

.fixedfooter {
    display: inline-flexbox;
    position:fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 150px;
    border-radius: 30px;
    background-color: rgba(206, 224, 239);
    border-color: antiquewhite;
    padding: 10px;
    font-size: 24px;
    text-align:center;

}

.Orion{flex: 1.0}
.Canis-Major{flex: 1.0}
.Canis-Minor{flex: 1.0}
.Lepus{flex: 1.0}
.Monoceros{flex: 1.0}

.zodiac-text {
    text-align: left;
    font-size: 18px;
}

.center{
    display: inline-flexbox;
    margin: 10% 33%;
}

.image-container {
    margin: auto;
    display: inline-flexbox;
}
=======
body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/155/653/275/background-sky-point-light-wallpaper-preview.jpg");
    background-repeat: repeat;
    background-blend-mode: color-burn;

}

h1 {
    display: inline;
    color: aliceblue;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 100px auto 100px auto;
}

flex-container{
    display: flex;
}

.heading-container{
    background-color: rgba(0, 0, 0, 0.5);
    padding:50px;
    border-radius: 10px;
}

div.slide-left{
    width:100%;
    overflow:hidden;
}

@keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

div.slide-left h1{
    animation:slide-left 10s;
}

.container {
    background:rgba(255, 255, 255, 0.8);
    margin:auto;
    padding: 20px;
    width:90%;
    border-radius: 30px;

}

.about-text{
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
}

h2{
    display: inline;
    color: black;
    text-align: left;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
}

.pics_in_a_row{
    display: flex;
    margin: auto;
    max-width: 100%;
    object-position: center;
    position: relative;
}

.constellation-names{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-family:'Times New Roman', Times, serif
}

img:hover {
    box-shadow: 0 0 6px 4px rgb(0, 140,186,0.5);
}

img {
    width: auto;
    height: auto;
    padding-bottom: 30px;
    max-width: 95%;
}

.Capricornus {flex: 1.0}
.Aquarius {flex: 1.0}
.Pisces {flex: 1.0}
.Aries {flex: 1.0}
.Taurus {flex: 1.0}
.Gemini {flex: 1.0}
.Cancer {flex: 1.0}
.Leo {flex: 1.775}
.Virgo {flex: 1.775}
.Libra {flex: 1.0}
.Scorpius {flex: 1.0}
.Ophiuchus {flex: 0.5}
.Sagittarius {flex: 0.5}

.topnav {
    margin: 0px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
}

.topnav a {
    display: inline-flexbox;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 30px 0px 30px;
    font-size: 28px;
}

.topnav a:hover {
    background-color: rgb(136, 120, 168);
    color: black;
}
  
.topnav a.active {
    background-color: rgba(35, 144, 217, 0.5);
    color: white;
}

.fixedfooter {
    display: inline-flexbox;
    position:fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 150px;
    border-radius: 30px;
    background-color: rgba(206, 224, 239);
    border-color: antiquewhite;
    padding: 10px;
    font-size: 24px;
    text-align:center;

}

.Orion{flex: 1.0}
.Canis-Major{flex: 1.0}
.Canis-Minor{flex: 1.0}
.Lepus{flex: 1.0}
.Monoceros{flex: 1.0}

.zodiac-text {
    text-align: left;
    font-size: 18px;
}

.center{
    display: inline-flexbox;
    margin: 10% 33%;
}

.image-container {
    margin: auto;
    display: inline-flexbox;
}
